name: Build and Deploy
on:
  push:
    branches: [ main ]
permissions:
  contents: write
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          # We removed the cache here to stop the "lock file not found" error

      - name: Install and Build
        run: |
          npm install
          npx ng build --configuration production --base-href /${{ github.event.repository.name }}/

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist/*/browser
          branch: gh-pages
