name: Build and Deploy
on:
  push:
    branches: [ main ]
permissions:
  contents: write
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      CI: false # Prevents warnings from failing the build
    defaults:
      run:
        working-directory: world # <-- Change this
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install and Build
        run: |
          npm install
          npx ng build --configuration production --base-href /${{ github.event.repository.name }}/

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: YOUR_FOLDER_NAME/dist/*/browser # <-- Change this too
          branch: gh-pages
